<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <div>
                <h2>Add Staff Role:</h2>

            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="card-body card-padding">

                <div class="form-group">
                    <label class="col-sm-2 control-label text-danger">Staff Role Name</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Staff Role Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Manage Staff</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Manage Staff Roles
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Manage Staff
                                </label>                              
                            </div>

                            <div class="checkbox m-b-15">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                                                        
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Add Staff
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Edit User
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Delete User
                                </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Modify Password
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Manage File</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Upload File
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Download File
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Edit File
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" value="">
                                    <i class="input-helper"></i>
                                    Delete File
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="parent.location = '#/permission_staff'" type="submit" class="btn btn-primary btn-sm">Add Staff Role</button>
                        <button onclick="parent.location = '#/permission_staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>