<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <div>
                <h2>Add Staff Role:</h2>

            </div>
        </div>
        <form name="FormAddPermission" ng-submit="addstaffrole()" class="form-horizontal" role="form">
            <div class="card-body card-padding">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Role Name</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <input ng-model="StaffRoleName" type="text" class="form-control input-sm" placeholder="Staff Role Name" required>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group m-b-0">
                    <div class="control-label checkbox col-sm-3" ng-repeat="headpermission in headpermissions">
                        <label>
                            <input type="checkbox" value="{{headpermission.id}}" ng-click="toggleSelection(headpermission.id)"> {{headpermission.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="permission in permissions">
                                <label>
                                    <input type="checkbox" value="{{permission.id}}" ng-click="toggleSelection(permission.id)"> {{permission.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="control-label checkbox col-sm-3" ng-repeat="headstaff in headstaffs">
                        <label>
                            <input type="checkbox" value="{{headstaff.id}}" ng-click="toggleSelection(headstaff.id)"> {{headstaff.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="staff in staffs">
                                <label>
                                    <input type="checkbox" value="{{staff.id}}" ng-click="toggleSelection(staff.id)"> {{staff.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-3 control-label checkbox" ng-repeat="headpatch in headpatchs">
                        <label>
                            <input type="checkbox" value="{{headpatch.id}}" ng-click="toggleSelection(headpatch.id)"> {{headpatch.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="patch in patchs">
                                <label>
                                    <input type="checkbox" value="{{patch.id}}" ng-click="toggleSelection(patch.id)"> {{patch.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="col-sm-3 control-label checkbox" ng-repeat="headupload in headuploads">
                        <label>
                            <input type="checkbox" value="{{headupload.id}}" ng-click="toggleSelection(headupload.id)"> {{headupload.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="upload in uploads">
                                <label>
                                    <input type="checkbox" value="{{upload.id}}" ng-click="toggleSelection(upload.id)"> {{upload.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="col-sm-3 control-label checkbox" ng-repeat="headfile in headfiles">
                        <label>
                            <input type="checkbox" value="{{headfile.id}}" ng-click="toggleSelection(headfile.id)"> {{headfile.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="file in files">
                                <label>
                                    <input type="checkbox" value="{{file.id}}" ng-click="toggleSelection(file.id)"> {{file.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!FormAddPermission.$valid" type="submit" class="btn btn-primary btn-sm">Add Staff Role</button>
                        <button onclick="parent.location = '#/permission_staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>