<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">            
            <h2>Add Staff</h2>
            <br />
        </div>
        <br />
        <form ng-submit="addstaff()" class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Code</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <input type="text" ng-model="StaffCode" id="StaffCode" class="form-control input-sm" placeholder="Staff Code">
                            
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Password</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input type="text" ng-model="StaffPassword" id="StaffPassword" class="form-control input-sm" placeholder="Staff Password">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Confirm Password</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input type="text" id="StaffConfirmPassword" class="form-control input-sm" placeholder="Staff Confirm Password">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <div class="col-sm-6">
                                <div class="fg-line select">
                                    <select class="form-control" id="StaffRoleID" ng-model="StaffRoleID" ng-options="options.StaffRoleID as options.StaffRoleName for options in staffrole">
                                        <option value="">-- Select Role --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <label class="radio radio-inline m-r-20" >
                                <input ng-model="GenderID" value="1" type="radio" name="inlineRadioOptions">
                                <i class="input-helper"></i>
                                Male
                            </label>
                            <label class="radio radio-inline m-r-20">
                                <input ng-model="GenderID" value="2" type="radio" name="inlineRadioOptions">
                                <i class="input-helper"></i>
                                Female
                            </label>
                        </div>

                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="StaffFirstname" id="StaffFirstname" type="text" class="form-control input-sm" placeholder="First Name">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="StaffLastname" id="StaffLastname" type="text" class="form-control input-sm" placeholder="Last Name">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="Address1" id="Address1" type="text" class="form-control input-sm" placeholder="Address 1">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="Address2" id="Address2" type="text" class="form-control input-sm" placeholder="Address 2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="City" id="City" type="text" class="form-control input-sm" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Province</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <div class="col-sm-7">
                                <div class="fg-line select">
                                    <select class="form-control" id="ProvinceID" ng-model="ProvinceID" ng-options="options.ProvinceID as options.ProvinceName for options in province">
                                        <option value="">-- Select Province --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Zip Code</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Zipcode" ng-model="Zipcode" type="text" class="form-control input-sm" placeholder="Zip Code">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Telephone</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Telephone" ng-model="Telephone" type="text" class="form-control input-sm" placeholder="Telephone">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Mobile" ng-model="Mobile" type="text" class="form-control input-sm" placeholder="Mobile">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email Address</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Email" ng-model="Email" type="text" class="form-control input-sm" placeholder="Email Address">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Picture File</label>
                    <div class="col-sm-5">
                        
                        <!--<div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input id="Picture" ng-model="Picture" type="file" value="ffff" name="...">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>-->
                        <input type="file" id="Picture" ng-model="Picture" >
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 ng-controller="addstaffController"">
                        <button type="submit" class="btn btn-primary btn-sm">Add Staff</button>
                        <button onclick="parent.location = '#/staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>                       
                    </div>          
                </div>
            </div>
        </form>
    </div>  
</div>

