<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">            
            <h2>Add Staff</h2>
            <br />
        </div>
        <br />
        <form class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Code</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Staff Code">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Password</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Staff Password">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Confirm Password</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Staff Confirm Password">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <div class="col-sm-5">
                                <div class="fg-line select">
                                    <select class="form-control">
                                        <option>-- Select Role --</option>
                                        <option>Admin</option>
                                        <option>Account</option>
                                        <option>Support</option>
                                        <option>Programmer</option>
                                        <option>Implementer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <label class="radio radio-inline m-r-20">
                                <input type="radio" name="inlineRadioOptions" value="option1">
                                <i class="input-helper"></i>
                                Men
                            </label>

                            <label class="radio radio-inline m-r-20">
                                <input type="radio" name="inlineRadioOptions" value="option2">
                                <i class="input-helper"></i>
                                Women
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="First Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Address 1">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Address 2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="City">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Province</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <div class="col-sm-5">
                                <div class="fg-line select">
                                    <select class="form-control">
                                        <option>-- Select Province --</option>
                                        <option>Bangkok</option>
                                        <option>Chiang Rai</option>
                                        <option>Chiang Mai</option>
                                        <option>Nan</option>
                                        <option>Phayao</option>
                                        <option>Phrae</option>
                                        <option>Mae Hong Son</option>
                                        <option>Lampang</option>
                                        <option>Lamphun</option>
                                        <option>Uttaradit</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Zip Code</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Zip Code">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Telephone</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Telephone">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Mobile">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email Address</label>
                    <div class="col-sm-6">

                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Email Address">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Picture File</label>
                    <div class="col-sm-6">

                        <div class="fg-line">                          
                                <input type="file" id="exampleInputFile">  
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Add Staff</button>
                        <button type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>
                    
                </div>
            </div>
        </form>
    </div>  
</div>

