<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <div>
                <h2>Add Staff Role:</h2>

            </div>
        </div>
        <form ng-submit="addstaffrole()" class="form-horizontal" role="form">
            <div class="card-body card-padding">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Role Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="StaffRoleName" type="text" class="form-control input-sm" placeholder="Staff Role Name">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Manage Permission</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <!--<div class="checkbox m-b-15" ng-repeat="permission in permissions">
                                <label>
                                    <input type="checkbox" value="{{permission.id}}" ng-checked="permissions2.indexOf(permission.id) > -1" ng-click="toggleSelection(permission.id)"> {{permission.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>-->
                            <div class="checkbox m-b-15" ng-repeat="permission in permissions">
                                <label >
                                    <input type="checkbox" value="{{permission.id}}" ng-click="toggleSelection(permission.id)"> {{permission.text}}
                                   <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Manage Staff</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <div class="checkbox m-b-15" ng-repeat="staff in staffs">
                                <label>
                                    <input type="checkbox" value="{{staff.id}}" ng-click="toggleSelection(staff.id)"> {{staff.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>                        
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Manage File</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <div class="checkbox m-b-15" ng-repeat="file in files">
                                <label>
                                    <input type="checkbox" value="{{file.id}}" ng-click="toggleSelection(file.id)"> {{file.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Add Staff Role</button>
                        <button onclick="parent.location = '#/permission_staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>