<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <h2>Change Password</h2>
            <br />

        </div>
        <br />
            <form name="FormPassword" class="form-horizontal" role="form">
                <div class="card-body card-padding" ng-init="getstaff()">
                    <div class="form-group" ng-class="{'has-error':!FormPassword.password.$valid}">
                        <label for="password" class="col-sm-3 control-label">New Password</label>
                        <div class="col-sm-5">
                            <div class="fg-line">
                                <input class="form-control input-sm" type="text" ng-model="password" name="password" placeholder="New Password" required>
                                <!--<span ng-show="FormPassword.password.$error.required">Required</span>-->       
                            </div>
                        </div>                       
                    </div>
                    <div class="form-group" ng-class="{'has-error':!FormPassword.passwordConfirmation.$valid}">
                        <label for="passwordConfirmation" class="col-sm-3 control-label">Confirm New Password</label>
                        <div class="col-sm-5">
                            <div class="fg-line">
                                <input class="form-control input-sm" type="password" name="passwordConfirmation" required ng-model="passwordConfirmation" password-confirm match-target="password" placeholder="Confirm New Password">
                                <span class="help-block" ng-show="FormPassword.passwordConfirmation.$error.match">Passwords do not match.</span>
                            </div>                           
                        </div>             
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-10">
                            <button type="submit" ng-click="editpasswordstaff(staffonly.StaffID, password)" ng-disabled="!FormPassword.$valid" class="btn btn-primary btn-sm">Change Password</button>
                            <button ng-click="profile(staffonly.StaffID)" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

