<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <h2>Change Password</h2>
            <br />

        </div>
        <br />
        <form class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div class="form-group">
                    <label class="col-sm-2 control-label text-danger">New Password</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="New Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label text-danger">Confirm New Password</label>
                    <div class="col-sm-6">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" placeholder="Confirm New Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="parent.location = '#/staffProfile'" type="submit" class="btn btn-primary btn-sm">Change Password</button>
                        <button onclick="parent.location = '#/staffProfile'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>
                </div>
            </div>
            </form>
</div>
</div>

