<div class="container" >

    <div class="card">
        <div class="card-header bgm-cyan">
            <h2>Edit Staff Profile</h2>
            <br />
        </div>
        <br />
        <form name="FormEditStaffProfile" ng-submit="editstaff()" class="form-horizontal" role="form">
            <div class="card-body card-padding" ng-init="getstaff()">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Code</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <input type="text" ng-disabled="staffonly.StaffCode" ng-model="staffonly.StaffCode" id="StaffCode" class="form-control input-sm" required>                         
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div class="col-sm-5">
                        <div class="fg-line">
                            <div class="col-sm-6">
                                <div class="fg-line select">
                                    <select class="form-control" id="StaffRoleID" ng-model="staffonly.StaffRoleID" ng-options="options.StaffRoleID as options.StaffRoleName for options in staffrole" required>
                                        <!--<option value="">{{staffonly.StaffRoleName}}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Gender</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <label class="radio radio-inline m-r-20">
                                <input ng-model="staffonly.GenderID" value="1" type="radio" name="inlineRadioOptions" required>
                                <i class="input-helper"></i>
                                Male
                            </label>
                            <label class="radio radio-inline m-r-20">
                                <input ng-model="staffonly.GenderID" value="2" type="radio" name="inlineRadioOptions" required>
                                <i class="input-helper"></i>
                                Female
                            </label>
                        </div>

                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffonly.StaffFirstname" id="StaffFirstname" type="text" class="form-control input-sm" placeholder="First Name" required>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffonly.StaffLastname" id="StaffLastname" type="text" class="form-control input-sm" placeholder="Last Name" required>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email Address</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Email" ng-model="staffonly.Email" type="text" class="form-control input-sm" placeholder="Email Address" required>
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 1</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffonly.Address1" id="Address1" type="text" class="form-control input-sm" placeholder="Address 1">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Address 2</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffonly.Address2" id="Address2" type="text" class="form-control input-sm" placeholder="Address 2">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">City</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffonly.City" id="City" type="text" class="form-control input-sm" placeholder="City">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Province</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <div class="col-sm-7">
                                <div class="fg-line select">
                                    <select class="form-control" id="ProvinceID" ng-model="staffonly.ProvinceID" ng-options="options.ProvinceID as options.ProvinceName for options in province">
                                        <!--<option value="">-- Select Province --</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Zip Code</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Zipcode" ng-model="staffonly.Zipcode" type="text" class="form-control input-sm" placeholder="Zip Code">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Telephone</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Telephone" ng-model="staffonly.Telephone" type="text" class="form-control input-sm" placeholder="Telephone">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input id="Mobile" ng-model="staffonly.Mobile" type="text" class="form-control input-sm" placeholder="Mobile">
                        </div>
                    </div>
                </div>      

                <div class="form-group">
                    <label class="col-sm-2 control-label">Picture File</label>
                    <div class="col-sm-6">

                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                                <span class="btn btn-info btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="...">
                                </span>
                                <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-disabled="!FormEditStaffProfile.$valid" type="submit" class="btn btn-primary btn-sm">Update Staff Information</button>
                        <button onclick="parent.location = '#/staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

