<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <div>
                <h2>Edit Staff Role</h2>

            </div>
        </div>
        <form ng-submit="editstaffrole()" class="form-horizontal" role="form">
            <div class="card-body card-padding" ng-init="getstaffrole()">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Staff Role Name</label>
                    <div class="col-sm-5">

                        <div class="fg-line">
                            <input ng-model="staffroleonly.StaffRoleName" type="text" class="form-control input-sm" placeholder="Staff Role Name">
                        </div>
                    </div>
                    <label class="control-label text-danger">*</label>
                </div>

                <div class="form-group m-b-0">
                    <div class="control-label checkbox col-sm-3" ng-repeat="headpermission in headpermissions">
                        <label>
                            <input type="checkbox" ng-checked="permissionrole.indexOf(headpermission.id) > -1" value="{{headpermission.id}}" ng-click="toggleEditSelection(headpermission.id)"> {{headpermission.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="permission in permissions">
                                <label>
                                    <input type="checkbox" ng-checked="permissionrole.indexOf(permission.id) > -1" value="{{permission.id}}" ng-click="toggleEditSelection(permission.id)"> {{permission.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="control-label checkbox col-sm-3" ng-repeat="headstaff in headstaffs">
                        <label>
                            <input type="checkbox" ng-checked="permissionrole.indexOf(headstaff.id) > -1" value="{{headstaff.id}}" ng-click="toggleEditSelection(headstaff.id)"> {{headstaff.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="staff in staffs">
                                <label>
                                    <input type="checkbox" ng-checked="permissionrole.indexOf(staff.id) > -1" value="{{staff.id}}" ng-click="toggleEditSelection(staff.id)"> {{staff.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-3 control-label checkbox" ng-repeat="headpatch in headpatchs">
                        <label>
                            <input type="checkbox" ng-checked="permissionrole.indexOf(headpatch.id) > -1" value="{{headpatch.id}}" ng-click="toggleEditSelection(headpatch.id)"> {{headpatch.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="patch in patchs">
                                <label>
                                    <input type="checkbox" ng-checked="permissionrole.indexOf(patch.id) > -1" value="{{patch.id}}" ng-click="toggleEditSelection(patch.id)"> {{patch.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="col-sm-3 control-label checkbox" ng-repeat="headupload in headuploads">
                        <label>
                            <input type="checkbox" ng-checked="permissionrole.indexOf(headupload.id) > -1" value="{{headupload.id}}" ng-click="toggleEditSelection(headupload.id)"> {{headupload.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="upload in uploads">
                                <label>
                                    <input type="checkbox" ng-checked="permissionrole.indexOf(upload.id) > -1" value="{{upload.id}}" ng-click="toggleEditSelection(upload.id)"> {{upload.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group m-b-0">

                    <div class="col-sm-3 control-label checkbox" ng-repeat="headfile in headfiles">
                        <label>
                            <input type="checkbox" ng-checked="permissionrole.indexOf(headfile.id) > -1" value="{{headfile.id}}" ng-click="toggleEditSelection(headfile.id)"> {{headfile.text}}
                            <i class="input-helper"></i>
                        </label>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-3">
                            <div class="checkbox m-b-15" ng-repeat="file in files">
                                <label>
                                    <input type="checkbox" ng-checked="permissionrole.indexOf(file.id) > -1" value="{{file.id}}" ng-click="toggleEditSelection(file.id)"> {{file.text}}
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary btn-sm">Update Staff Role</button>
                        <button onclick="parent.location = '#/permission_staff'" type="submit" class="btn btn-primary btn-sm">Cancle</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>



