<div class="container">
    <form class="form-horizontal" role="form">
        <div class="card">
            <div class="text-center card-body">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <h1 style="font-size:80px;" class="text-uppercase text-info">Welcome Back To Patch Control.</h1>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </form>
</div>