<div class="container">
    <div class="card">
        <div class="card-header bgm-teal">
            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Software Version</option>
                        <option>All versions</option>
                        <option>3.6</option>
                        <option>3.5</option>
                    </select>
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Software Type</option>
                        <option>Retails</option>
                        <option>SPA</option>
                        <option>Restaurant</option>
                        <option>PTT</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Release Date</option>
                        <option>20/06/2015</option>
                        <option>19/06/2015</option>
                        <option>18/06/2015</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>
            <h2>
                Release Versions
                <small>All versions of patch</small>
            </h2>

        </div>

        <div class="card-body card-padding">
            <div class="btn-demo ">
                <button class="btn btn-primary waves-effect waves-button waves-float pull-right" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Release Note
                </button>
                <a href="#">3.6.6 </a>
                : Software Type : Software Version : 18/06/2015
                <hr />
            </div>
            <div class="collapse m-t-10" id="collapseExample">
                <p>Curabitur nisi velit, placerat id diam ac, maximus aliquet ex. Integer in laoreet nisl. Maecenas auctor porta ligula, non interdum dolor hendrerit non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tortor tellus, commodo suscipit cursus vitae, auctor eu massa. Aliquam nibh dolor, lobortis in molestie eget, tristique ac nunc. Aliquam fringilla aliquam est eu congue.</p>
                <h5>
                    Windows: [<a href="#">installed official</a>] stable vertion
                </h5>
                <hr />
            </div>

            <div class="btn-demo ">
                <button class="btn btn-primary waves-effect waves-button waves-float pull-right" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                    Release Note
                </button>
                <a href="#">3.5.2 </a>
                : Software Type : Software Version : 05/06/2015
                <hr />
            </div>
            <div class="collapse m-t-10" id="collapseExample2">
                <p>Curabitur nisi velit, placerat id diam ac, maximus aliquet ex. Integer in laoreet nisl. Maecenas auctor porta ligula, non interdum dolor hendrerit non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tortor tellus, commodo suscipit cursus vitae, auctor eu massa. Aliquam nibh dolor, lobortis in molestie eget, tristique ac nunc. Aliquam fringilla aliquam est eu congue.</p>
                <h5>
                    Windows: [<a href="#">installed official</a>] stable vertion
                </h5>
                <hr />
            </div>

            <div class="btn-demo ">
                <button class="btn btn-primary waves-effect waves-button waves-float pull-right" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                    Release Note
                </button>
                <a href="#">3.0.0 </a>
                : Software Type : Software Version : 26/05/2015
                <hr />
            </div>
            <div class="collapse m-t-10" id="collapseExample3">
                <p>Curabitur nisi velit, placerat id diam ac, maximus aliquet ex. Integer in laoreet nisl. Maecenas auctor porta ligula, non interdum dolor hendrerit non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum tortor tellus, commodo suscipit cursus vitae, auctor eu massa. Aliquam nibh dolor, lobortis in molestie eget, tristique ac nunc. Aliquam fringilla aliquam est eu congue.</p>
                <h5>
                    Windows: [<a href="#">installed official</a>] stable vertion
                </h5>
                <hr />
            </div>
        </div>
    </div>
</div>