<div class="container" ng-app="app">
    <div class="card" ng-controller="patchInfoController">
        <div class="card-header bgm-teal">
            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.SoftwareVersionID" ng-options="sofver.SoftwareVersionID as sofver.SoftwareVersionName for sofver in softwareVersion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Version</option>
                    </select>
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.SoftwareTypeID" ng-options="softtype.SoftwareTypeID as softtype.SoftwareTypeName for softtype in softwareType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Type</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>
            <h2>
                Release Versions
                <small>All versions of patch</small>
            </h2>

        </div>

        <form class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div ng-repeat="p in patchs | filter:search">
                    <div class="btn-demo">
                        <button class="btn btn-primary waves-effect waves-button waves-float pull-right" type="button" data-toggle="collapse" data-target="#collapseExample{{ p.PatchsID }}" aria-expanded="false" aria-controls="collapseExample">
                            Release Note
                        </button>
                        <a href="#">{{ p.SoftwareVersionName }}</a>
                        : {{ p.SoftwareTypeName }} : {{ p.PatchsInsertDate }} : {{ p.PatchsInsertBy }}
                        <hr />
                    </div>
                    <div class="collapse m-t-10" id="collapseExample{{ p.PatchsID }}">
                        <p>{{ p.PatchsDescription }}</p>
                        <h5>
                            Windows: [<a href="#">installed official</a>] stable vertion
                        </h5>
                        <hr />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>