<div class="container" ng-app="app">
    <div class="card" ng-controller="patchInfoController">
        <div class="card-header bgm-teal">
            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.softwareVersionID" ng-options="sofver.softwareVersionID as sofver.softwareVersionName for sofver in softwareVersion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Version</option>
                    </select>
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.softwareTypeID" ng-options="softtype.softwareTypeID as softtype.softwareTypeName for softtype in softwareType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Type</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>
            <h2>
                Release Versions
                <small>All versions of patch</small>
            </h2>

        </div>

        <form class="form-horizontal" role="form">
            <div class="card-body card-padding">
                <div class="btn-demo">
                    <table style="width:100%;" class="table table-striped table-vmiddle">
                        <tbody>
                            <tr dir-paginate="text in patchs | filter:search | itemsPerPage: 8">
                                <td>

                                    <a>{{ text.patchsName }}</a>
                                    <br />
                                    <button class="btn btn-primary waves-effect waves-b+utton waves-float pull-right" type="button" data-toggle="collapse" data-target="#collapseExample{{ text.patchsID }}" aria-expanded="false" aria-controls="collapseExample">
                                        Release Note
                                    </button>
                                    <b>
                                        <small>Version: {{ text.softwareVersionName }}, {{ text.softwareTypeName}}</small>
                                        <br />
                                        <small>Update Date: {{ text.patchsUpdateDate }}</small>
                                    </b>

                                    <div class="collapse m-t-10" id="collapseExample{{ text.patchsID }}">
                                        <small>
                                            <b>
                                                Release Date: <a>{{ text.patchsInsertDate}}</a><br />
                                                Release By: <a>{{ text.patchsInsertBy }}</a><br />
                                            </b>
                                            <b ng-show="text.patchsUpdateBy != ''">
                                                Update By: <a>{{ text.patchsUpdateBy }}</a><br /><br />
                                            </b>
                                        </small>
                                        <small ng-bind-html="text.patchsDescription"></small>
                                        <hr />
                                        <h5 ng-show="downloadFile == 1">
                                            Download: [<a href="../Patchs/{{text.filesName}}">installed official</a>] stable version <br />
                                        </h5>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <center>
                        <dir-pagination-controls max-size="3"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>