<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <!--<p><h2>Manage User Roles</h2></p>-->
            <div class="pull-right"><a href="#/add_permission" class="btn bgm-indigo">Add Staff Role</a></div>
            <h2>Manage Staff Roles</h2>
            <br />

        </div>
        <br />
        <div class="card-body card-padding table-responsive">
            <div class="row dialog">
                <table class="table table-vmiddle" style="width:50%;">
                    <thead>
                        <tr>
                            <th>Role Name</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in staffrole">
                            <td>{{n.StaffRoleName}}</td>
                            <td><button ng-click="EDpromission(n.StaffRoleID)" class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button ng-click="deletestaffrole(n.StaffRoleID)" class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

