<div class="container">
    <div class="card">
        <div class="card-header bgm-teal">
            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Software Version</option>
                        <option>All versions</option>
                        <option>3.6</option>
                        <option>3.5</option>
                    </select>
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Software Type</option>
                        <option>Retails</option>
                        <option>SPA</option>
                        <option>Restaurant</option>
                        <option>PTT</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option>Release Date</option>
                        <option>20/06/2015</option>
                        <option>19/06/2015</option>
                        <option>18/06/2015</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>
            <h2>
                Upload List
                <small>Collection of Patch uploads</small>
            </h2>

        </div>

        <div class="card-body card-padding">
            <div class="btn-demo ">
                <div class="pull-right">
                    <button class="btn btn-primary waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Download
                    </button>
                    <button class="btn btn-warning waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Edit Details
                    </button>
                    <button class="btn btn-danger waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Delete
                    </button>
                </div>

                    <a href="#">3.6.6 </a>
                    : Software Type : Software Version : 18/06/2015
                    <hr />
                </div>
            <div class="btn-demo ">
                <div class="pull-right">
                    <button class="btn btn-primary waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Download
                    </button>
                    <button class="btn btn-warning waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Edit Details
                    </button>
                    <button class="btn btn-danger waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Delete
                    </button>
                </div>

                <a href="#">3.5.2 </a>
                : Software Type : Software Version : 05/06/2015
                <hr />
            </div>
            <div class="btn-demo ">
                <div class="pull-right">
                    <button class="btn btn-primary waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Download
                    </button>
                    <button class="btn btn-warning waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Edit Details
                    </button>
                    <button class="btn btn-danger waves-effect waves-button waves-float" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Delete
                    </button>
                </div>

                <a href="#">3.0.0 </a>
                : Software Type : Software Version : 26/05/2015
                <hr />
            </div>
        </div>
    </div>
</div>