<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <!--<p><h2>Manage User Roles</h2></p>-->
            <div class="pull-right"><a href="#/add_staff" class="btn bgm-indigo">Add Staff</a></div>
            <h2>Manage Users</h2>
            <br />

        </div>
        <br />
        <div class="card-body card-padding table-responsive">
            <div class="col-sm-3 pull-left">
                <div class="fg-line select">
                    <select class="form-control">
                        <option>-- Select Role --</option>
                        <option>Admin</option>
                        <option>Account</option>
                        <option>Support</option>
                        <option>Programmer</option>
                        <option>Implementer</option>
                    </select>
                </div>
            </div>
                
            <div class="col-sm-2">
                <div class="form-group fg-line">
                    <label class="sr-only" >First Name</label>
                    <input type="text" class="form-control input-sm" placeholder="First Name">
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group fg-line">
                    <label class="sr-only" >Last Name</label>
                    <input type="text" class="form-control input-sm" placeholder="Last Name">
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group fg-line">
                    <label class="sr-only" >Staff ID</label>
                    <input type="text" class="form-control input-sm" placeholder="Staff ID">
                </div>
            </div>

            <div class="pull-left"><a href="#/" class="btn btn-primary">Search</a></div>
            
            <div>
                <table class="table" >
                    <thead>
                        <tr>
                            <th>Staff Code</th>
                            <th>Name</th>
                            <th>Staff Role</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Adisorn</td>
                            <td>Adisorn Chaitanasakul</td>
                            <td>Admin</td>
               
                            <td><button onclick="parent.location = '#/staffProfile'" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                            <td><button class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>

                        </tr>
                        <tr>
                            <td>Adisorn</td>
                            <td>Adisorn Chaitanasakul</td>
                            <td>Support</td>
                            <td><button onclick="parent.location = '#/staffProfile'" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                            <td><button class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>

                        </tr>
                        <tr>
                            <td>Adisorn</td>
                            <td>Adisorn Chaitanasakul</td>
                            <td>Implementter</td>
                            <td><button onclick="parent.location = '#/staffProfile'" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                            <td><button class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>

                        </tr>
                        <tr>
                            <td>Adisorn</td>
                            <td>Adisorn Chaitanasakul</td>
                            <td>Account</td>
                            <td><button onclick="parent.location = '#/staffProfile'" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                            <td><button class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>

                        </tr>
                        <tr>
                            <td>Adisorn</td>
                            <td>Adisorn Chaitanasakul</td>
                            <td>Programmer</td>
                            <td><button onclick="parent.location = '#/staffProfile'" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                            <td><button class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                            <td><button class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

