<div class="container">

    <form ng-submit="" class="form-horizontal" role="form">
        <div class="card" id="profile-main" ng-init="getstaff()">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="">
                            <!--<img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">-->
                            <img class="img-responsive" src="../images/{{staffonly.Picture}}" alt="" />
                        </a>

                        <a ng-controller="ImageController" href="" class="pmop-edit" data-toggle="modal" data-target=".bs-example-modal-lg" ng-show="ButtonEdit == 1">
                            <i class="md md-camera-alt"></i>
                            <!--<button ng-controller="ImageController" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>-->
                            <span class="hidden-xs">Update Profile Picture</span>
                        </a>
                    </div>


                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">{{staffonly.StaffRoleName}}</h2><br>
                        {{staffonly.StaffName}}
                    </div>
                </div>

                <!--<div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="md md-phone"></i> {{staffonly.Mobile}}</li>
                        <li><i class="md md-email"></i> {{staffonly.Email}}</li>
                        <li>
                            <i class="md md-location-on"></i>
                            <address class="m-b-0">
                                {{staffonly.Address1}}
                            </address>
                        </li>
                    </ul>
                </div>-->
            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified">
                    <li class="active waves-effect"><a><h2>Profile &nbsp;{{staffonly.StaffFirstname}}</h2></a></li>
                </ul>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-person m-r-5"></i> Basic Information</h2>

                        <ul class="actions" ng-show="ButtonEdit == 1">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="" data-pmb-action="edit" ng-click="EDstaffprofile(staffonly.StaffID)">Edit</a>
                                    </li>
                                    <li>
                                        <a href="" data-pmb-action="edit" ng-click="EDpassword(staffonly.StaffID)">Change Password</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Staff Code</dt>
                                <dd>{{staffonly.StaffCode}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Full Name</dt>
                                <dd>{{staffonly.StaffName}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Gender</dt>
                                <dd>{{staffonly.Gender}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email Address</dt>
                                <dd>{{staffonly.Email}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Address</dt>
                                <dd>{{staffonly.Address1}} &nbsp;{{staffonly.City}} &nbsp;{{staffonly.Province}}</dd>
                            </dl>
                            <!--<dl class="dl-horizontal">
                                <dt>Province</dt>
                                <dd>{{staffonly.Province}}</dd>
                            </dl>-->
                            <dl class="dl-horizontal">
                                <dt>Zip Code</dt>
                                <dd>{{staffonly.Zipcode}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Telephone</dt>
                                <dd>{{staffonly.Telephone}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Mobile</dt>
                                <dd>{{staffonly.Mobile}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" ng-controller="ImageController">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card">
                    <div class="modal-header card-padding">
                        <h3>Update Profile Picture</h3>
                    </div>
                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-md-3">
                                <h4>Select files</h4>
                                <div ng-show="uploader.isHTML5">

                                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                            Another drop zone with its own settings
                                        </div>
                                    </div>
                                </div>
                                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                <input type="file" nv-file-select="" uploader="uploader" multiple /><br />
                            </div>
                            <div class="col-md-9" style="margin-bottom: 40px">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Picture</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td>

                                                <!--<strong>{{ item.file.name }}</strong>-->
                                                <!-- Image preview -->
                                                <!--auto height-->
                                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                                <!--auto width-->
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                <!--fixed width and height -->
                                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->

                                            </td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer card-padding">
                        <button style="width:80px; height:32px;" class="btn btn-danger btn-s" ng-click="reload()" type="button">Close</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
