<div class="container">

    <form ng-submit="" class="form-horizontal" role="form">
        <div class="card" id="profile-main" ng-init="getstaff()">
            <div class="pm-overview c-overflow">
                <div class="pmo-pic">
                    <div class="p-relative">
                        <a href="">
                            <!--<img class="img-responsive" src="img/profile-pics/profile-pic-2.jpg" alt="">-->
                            <img class="img-responsive" src="../images/{{staffonly.Picture}}" alt=""/>
                        </a>

                        <a href="" class="pmop-edit">
                            <i class="md md-camera-alt"></i>
                            <span class="hidden-xs">Update Profile Picture</span>
                        </a>
                    </div>


                    <div class="pmo-stat">
                        <h2 class="m-0 c-white">{{staffonly.StaffRoleName}}</h2><br>
                        {{staffonly.StaffName}}
                    </div>
                </div>

                <!--<div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="md md-phone"></i> {{staffonly.Mobile}}</li>
                        <li><i class="md md-email"></i> {{staffonly.Email}}</li>
                        <li>
                            <i class="md md-location-on"></i>
                            <address class="m-b-0">
                                {{staffonly.Address1}}
                            </address>
                        </li>
                    </ul>
                </div>-->
            </div>

            <div class="pm-body clearfix">
                <ul class="tab-nav tn-justified">
                    <li class="active waves-effect"><a><h2>Profile &nbsp;{{staffonly.StaffFirstname}}</h2></a></li>
                </ul>

                <div class="pmb-block">
                    <div class="pmbb-header">
                        <h2><i class="md md-person m-r-5"></i> Basic Information</h2>

                        <ul class="actions" ng-show="ButtonEdit == 1" >
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="" data-pmb-action="edit" ng-click="EDstaffprofile(staffonly.StaffID)">Edit</a>
                                    </li>
                                    <li>
                                        <a href="" data-pmb-action="edit" ng-click="EDpassword(staffonly.StaffID)">Change Password</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="pmbb-body p-l-30">
                        <div class="pmbb-view">
                            <dl class="dl-horizontal">
                                <dt>Staff Code</dt>
                                <dd>{{staffonly.StaffCode}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Full Name</dt>
                                <dd>{{staffonly.StaffName}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Gender</dt>
                                <dd>{{staffonly.Gender}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Email Address</dt>
                                <dd>{{staffonly.Email}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Address</dt>
                                <dd>{{staffonly.Address1}} &nbsp;{{staffonly.City}} &nbsp;{{staffonly.Province}}</dd>
                            </dl>
                            <!--<dl class="dl-horizontal">
                                <dt>Province</dt>
                                <dd>{{staffonly.ProvinceName}}</dd>
                            </dl>-->
                            <dl class="dl-horizontal">
                                <dt>Zip Code</dt>
                                <dd>{{staffonly.Zipcode}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Telephone</dt>
                                <dd>{{staffonly.Telephone}}</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Mobile</dt>
                                <dd>{{staffonly.Mobile}}</dd>
                            </dl>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
</div>
