<div class="container">

    <div class="card">
        <div class="card-header bgm-cyan">
            <!--<p><h2>Manage User Roles</h2></p>-->
            <div class="pull-right"><a href="#/add_staff" class="btn bgm-indigo">Add Staff</a></div>
            <h2>Manage Users</h2>
            <br />

        </div>
        <br />
        <!--<form class="form-horizontal" role="form">-->
            <div class="card-body card-padding table-responsive">
                <div class="col-sm-3 pull-left">
                    <div class="fg-line select">
                        <select class="form-control" ng-model="search.StaffRoleName" ng-options="options.StaffRoleName as options.StaffRoleName for options in staffrole">
                            <option value="">-- List All Staff --</option>                           
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group fg-line">
                        <label class="sr-only">First Name</label>
                        <input type="text" class="form-control input-sm" ng-model="search.StaffFirstname" placeholder="First Name">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group fg-line">
                        <label class="sr-only">Last Name</label>
                        <input type="text" class="form-control input-sm" ng-model="search.StaffLastname" placeholder="Last Name">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group fg-line">
                        <label class="sr-only">Staff Code</label>
                        <input type="text" class="form-control input-sm" ng-model="search.StaffCode" placeholder="Staff Code">
                    </div>
                </div>
                <div class="row dialog">
                    <table class="table table-vmiddle">
                        <thead>
                            <tr>
                                <th>Staff Role Name</th>
                                <th>Staff Code</th>
                                <th>Name</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="n in staff|filter:search">
                                <td>{{n.StaffRoleName}}</td>
                                <td>{{n.StaffCode}}</td>
                                <td>{{n.StaffName}}</td>                              
                                <td><button ng-click="profile(n.StaffID)" class="btn btn-info btn-icon"><i class="md md-person"></i></button></td>
                                <td><button ng-click="EDstaff(n.StaffID)" class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>
                                <!--<td>
                                    <a href="#/edit_staff_profile/{{n.StaffID}}" class="btn btn-warning btn-icon"><i class="md md-edit"></i></a>
                                </td>-->
                                    <!--<td><button onclick="parent.location = '#/edit_staff_profile/{{n.StaffID}}'" class="btn btn-warning btn-icon"><i class="md md-edit"></i></button></td>-->
                                <td><button ng-click="deletestaff(n.StaffID)" class="btn btn-danger btn-icon"><i class="md md-delete"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!--</form>-->
    </div>
</div>

