<div class="container" ng-controller="MyPatchController">
    <div class="card">
        <div class="card-header bgm-teal">
            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.softwareVersionID" ng-options="sofver.softwareVersionID as sofver.softwareVersionName for sofver in softwareVersion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Version</option>
                    </select>
                </div>
            </div>

            <div class="dropdown-btn-demo pull-right">
                <div class="btn-group">
                    <select ng-model="search.softwareTypeID" ng-options="softtype.softwareTypeID as softtype.softwareTypeName for softtype in softwareType" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <option value="">Software Type</option>
                    </select>
                    &nbsp;&nbsp;
                </div>
            </div>
            <h2>
                Patchs Collection
                <small>Collection of the Patch on upload by you</small>
            </h2>

        </div>

        <div class="card-body card-padding">
            <div class="row dialog">
                <table style="width:100%;" class="table table-striped table-vmiddle">
                    <tbody>
                        <tr dir-paginate="mp in myPatch | filter:search | itemsPerPage: 8">
                            <td>
                                {{ mp.patchsID }}
                               <i ng-show="mp.activated == 0" class="glyphicon glyphicon-exclamation-sign btn-lg" tooltip-placement="right" uib-tooltip="Unactivated" style="color:orange;" />    
                               <i ng-show="mp.activated == 1" class="glyphicon glyphicon-ok btn-lg" tooltip-placement="right" uib-tooltip="Activated" style="color:forestgreen;" />
                            </td>
                            <td>
                                <a>{{ mp.patchsName }}</a>
                                <br />
                                <small>Insert Date: {{ mp.patchsInsertDate }}</small>
                            </td>
                            <td>
                                <a>{{ mp.softwareVersionName }}</a> | {{ mp.softwareTypeName }}
                            </td>
                            <!--<td>
                                <a href="../Patchs/{{ mp.filesName }}" class="btn btn-success btn-icon"><i class="md md-file-download"></i></a>
                            </td>-->
                            <td ng-show="editFile == 1">
                                <button class="btn btn-warning btn-icon" ng-click="editPatch(mp.patchsID)"><i class="md md-edit"></i></button>
                            </td>
                            <td ng-show="deleteFile == 1">
                                <button class="btn btn-danger btn-icon" ng-click="deletedMyPatch(mp.patchsID)"><i class="md md-delete"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center>
                    <dir-pagination-controls max-size="3"
                                             direction-links="true"
                                             boundary-links="true">
                    </dir-pagination-controls>
                </center>
            </div>
        </div>
    </div>
    <!-- ============================= Alert ============================= -->
    <div ng-controller="ModelEditController">
        <script type="text/ng-template" id="modalEditPatchContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Choosen Patch File</h3>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="col-md-3">
                                <h3>Select files</h3>
                                <div ng-show="uploader.isHTML5">
                                    <!-- 3. nv-file-over uploader="link" over-class="className" -->
                                    <!--<div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                        Base drop zone
                                    </div>-->
                                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                            Another drop zone with its own settings
                                        </div>
                                    </div>
                                </div>
                                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                <!--Multiple
                                <input type="file" nv-file-select="" uploader="uploader" multiple /><br />
                                Single-->
                                <input type="file" nv-file-select="" uploader="uploader" />
                            </div>
                            <div class="col-md-9" style="margin-bottom: 40px">
                                <h3>Upload queue</h3>
                                <p>Queue length: {{ uploader.queue.length }}</p>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50%">Name</th>
                                            <th ng-show="uploader.isHTML5">Size</th>
                                            <th ng-show="uploader.isHTML5">Progress</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td><strong>{{ item.file.name }}</strong></td>
                                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="uploader.isHTML5">
                                                <div class="progress" style=" ">
                                                    <div class="progress-bar progress-bar-info active" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                            </td>
                                            <td nowrap>
                                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                                </button>
                                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br />
                                <div>
                                    <div>
                                        Queue progress:
                                        <div class="progress" style="">
                                            <div class="progress-bar progress-bar-info active" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <!--<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                        <span class="glyphicon glyphicon-upload"></span> Upload all
                                    </button>
                                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                    </button>
                                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                        <span class="glyphicon glyphicon-trash"></span> Remove all
                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</div>