<div class="container" ng-app="app">
    <div class="card">
        <div class="card-header bgm-teal">
            <h2>
                Upload Patch
                <small>Use the real data to match the patch</small>
            </h2>

        </div>

        <form novalidate name="myForm" class="form-horizontal" role="form" ng-submit="addPatchInfos()" ng-controller="uploadController">
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Patch Name</label>
                    <div class="col-sm-4 has-feedback">
                        <div class="fg-line">
                            <input type="text" ng-model="patchsName" name="patchsName" class="form-control input-sm" id="inputEmail3" placeholder="Patch Name" required>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="myForm.patchsName.$dirty && myForm.patchsName.$invalid">
                                <span style="color:red" ng-show="myForm.patchsName.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.patchsName.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputPassword3" class="col-sm-2 control-label">Software Type</label>
                        <div class="col-sm-3">
                            <select name="softwareTypeID" ng-model="softwareTypeID" ng-options="softtype.softwareTypeID as softtype.softwareTypeName for softtype in softwareType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" required>
                                <option value="">Software Type</option>
                            </select>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="(myForm.softwareTypeID.value == null) && myForm.softwareTypeID.$invalid">
                                <span style="color:red" ng-show="myForm.softwareTypeID.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.softwareTypeID.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputEmail3" class="col-sm-2 control-label">Software Version</label>
                        <div class="col-sm-3">
                            <select name="softwareVersionID" ng-model="softwareVersionID" ng-options="sofver.softwareVersionID as sofver.softwareVersionName for sofver in softwareVersion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" required>
                                <option value="">Software Version</option>
                            </select>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="(myForm.softwareVersionID.value == null) && myForm.softwareVersionID.$invalid">
                                <span style="color:red" ng-show="myForm.softwareVersionID.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.softwareVersionID.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Sub Version</label>
                    <div class="col-sm-2">
                        <div class="fg-line">
                            <input type="text" name="patchsVersionNumber" ng-model="patchsVersionNumber" class="form-control input-sm" id="inputEmail3" placeholder="Sub Version" maxlength='2' pattern='\d*' required>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="myForm.patchsVersionNumber.$dirty && myForm.patchsVersionNumber.$invalid">
                                <span style="color:red" ng-show="myForm.patchsVersionNumber.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.patchsVersionNumber.$error.required) && myForm.patchsVersionNumber.$valid"></span>
                        </div>
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label ">Result: &nbsp; </label>
                    <label for="inputEmail3" class="col-sm control-label c-green " ng-repeat="swver in softwareVersion | filter:softwareVersionID" ng-show="softwareVersionID == swver.softwareVersionID">{{ swver.softwareVersionName + '.' + patchsVersionNumber}}</label>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <div id="summernote" required></div>
                            <script>
                                $(document).ready(function () {
                                    $('#summernote').summernote({
                                        height: 300
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div ng-controller="ModalPatchController">
                    <div class="form-group">
                        <div class="fg-line">
                            <label for="inputEmail" class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary"
                                        ng-disabled="myForm.patchsName.$invalid || myForm.patchsName.$error.required
                                        || myForm.patchsVersionNumber.$invalid || myForm.patchsVersionNumber.$error.required">
                                    Save Informations and Browse File
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- ============================= Alert ============================= -->
        <div ng-controller="ModalPatchController">
            <script type="text/ng-template" id="modelPatchContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Choosen Patch File</h3>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body card-padding" ng-controller="UploadFilecontroller">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Select files</h3>
                                    <div ng-show="uploader.isHTML5">                                        
                                        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                        <div nv-file-drop="" uploader="uploader" options="{ url: '/foo' }">
                                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="well my-drop-zone">
                                                Another drop zone with its own settings
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                                    <!-- Multiple
                                    <input type="file" nv-file-select="" uploader="uploader" multiple /><br />-->
                                    Single
                                    <input type="file" nv-file-select="" uploader="uploader" />
                                </div>
                                <div class="col-md-9" style="margin-bottom: 40px">
                                    <h3>Upload queue</h3>
                                    <p>Queue length: {{ uploader.queue.length }}</p>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th width="50%">Name</th>
                                                <th ng-show="uploader.isHTML5">Size</th>
                                                <th ng-show="uploader.isHTML5">Progress</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td><strong>{{ item.file.name }}</strong></td>
                                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td ng-show="uploader.isHTML5">
                                                    <div class="progress" style=" ">
                                                        <div class="progress-bar progress-bar-info active" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                </td>
                                                <td nowrap>
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                                    </button>
                                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <div>
                                        <div>
                                            Queue progress:
                                            <div class="progress" style="">
                                                <div class="progress-bar progress-bar-info active" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                                            </div>
                                        </div>
                                        <!--<button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                                            <span class="glyphicon glyphicon-upload"></span> Upload all
                                        </button>
                                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                        </button>
                                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                                            <span class="glyphicon glyphicon-trash"></span> Remove all
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </div>
</div>