<div class="container" ng-app="app">
    <div class="card">
        <div class="card-header bgm-teal">
            <h2>
                Upload Patch
                <small>Use the real data to match the patch</small>
            </h2>

        </div>

        <form novalidate name="myForm" class="form-horizontal" role="form" ng-submit="addPatchInfos()" ng-controller="uploadController">
            <div class="card-body card-padding">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Patch Name</label>
                    <div class="col-sm-4 has-feedback">
                        <div class="fg-line">
                            <input type="text" ng-model="patchsName" name="patchsName" class="form-control input-sm" id="inputEmail3" placeholder="Patch Name" required>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="myForm.patchsName.$dirty && myForm.patchsName.$invalid">
                                <span style="color:red" ng-show="myForm.patchsName.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.patchsName.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputPassword3" class="col-sm-2 control-label">Software Type</label>
                        <div class="col-sm-3">
                            <select name="softwareTypeID" ng-model="softwareTypeID" ng-options="softtype.softwareTypeID as softtype.softwareTypeName for softtype in softwareType" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" required>
                                <option value="">Software Type</option>
                            </select>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="(myForm.softwareTypeID.value == null) && myForm.softwareTypeID.$invalid">
                                <span style="color:red" ng-show="myForm.softwareTypeID.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.softwareTypeID.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputEmail3" class="col-sm-2 control-label">Software Version</label>
                        <div class="col-sm-3">
                            <select name="softwareVersionID" ng-model="softwareVersionID" ng-options="sofver.softwareVersionID as sofver.softwareVersionName for sofver in softwareVersion" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" required>
                                <option value="">Software Version</option>
                            </select>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="(myForm.softwareVersionID.value == null) && myForm.softwareVersionID.$invalid">
                                <span style="color:red" ng-show="myForm.softwareVersionID.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.softwareVersionID.$error.required)"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Sub Version</label>
                    <div class="col-sm-2">
                        <div class="fg-line">
                            <input type="text" name="patchsVersionNumber" ng-model="patchsVersionNumber" class="form-control input-sm" id="inputEmail3" placeholder="Sub Version" maxlength='2' pattern='\d*' required>
                            <span class="md md-error form-control-feedback" style="color:red" ng-show="myForm.patchsVersionNumber.$dirty && myForm.patchsVersionNumber.$invalid">
                                <span style="color:red" ng-show="myForm.patchsVersionNumber.$error.required"></span>
                            </span>
                            <span class="md md-check form-control-feedback" style="color:green" ng-show="!(myForm.patchsVersionNumber.$error.required) && myForm.patchsVersionNumber.$valid"></span>
                        </div>
                    </div>
                    <label for="inputEmail3" class="col-sm-1 control-label ">Result: &nbsp; </label>
                    <label for="inputEmail3" class="col-sm control-label c-green " ng-repeat="swver in softwareVersion | filter:softwareVersionID" ng-show="softwareVersionID == swver.softwareVersionID">{{ swver.softwareVersionName + '.' + patchsVersionNumber}}</label>
                </div>
                <div class="form-group">
                    <div class="fg-line">
                        <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-8">
                            <div id="summernote" required></div>
                            <script>
                                $(document).ready(function () {
                                    $('#summernote').summernote({
                                        height: 300
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div ng-controller="ModalDemoCtrl">
                    <div class="form-group">
                        <div class="fg-line">
                            <label for="inputEmail" class="col-sm-2 control-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary" 
                                        ng-disabled="myForm.patchsName.$invalid || myForm.patchsName.$error.required
                                        || myForm.patchsVersionNumber.$invalid || myForm.patchsVersionNumber.$error.required"
                                        >Save Informations and Browse File</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- ============================= Alert ============================= -->
        <div ng-controller="ModalDemoCtrl" nv-file-drop="" Uploader="uploader" filters="queueLimit, customFilter">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Chossen Patch File</h3>
                </div>
                <div ng-controller="FileUploadCtrl">
                    <div class="card-body card-padding">
                        <div class="modal-body">

                            <div id="dropbox" class="dropbox" ng-class="dropClass">
                                <span>{{dropText}}</span>
                            </div>
                            <div class="row">
                                <label for="fileToUpload">Select a File to Upload</label><br />
                                <input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />
                            </div>
                            <div ng-show="files.length">
                                <div ng-repeat="file in files.slice(0)">
                                    <span>{{file.webkitRelativePath || file.name}}</span>
                                    (<span ng-switch="file.size > 1024*1024">
                                        <span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>
                                        <span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>
                                    </span>)
                                </div>
                                <div ng-show="progressVisible">
                                    <div class="percent">{{progress}}%</div>
                                    <div class="progress-bar">
                                        <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div ng-controller="FileUploadCtrl">
                        <button class="btn btn-primary" type="button" ng-click="uploadFile()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>



