<!DOCTYPE html>
<html ng-app="myApp">
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>

    <!-- Vendor CSS -->
    <link href="template/vendors/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="template/vendors/animate-css/animate.min.css" rel="stylesheet">
    <link href="template/vendors/noUiSlider/jquery.nouislider.min.css" rel="stylesheet">
    <link href="template/vendors/farbtastic/farbtastic.css" rel="stylesheet">
    <link href="template/vendors/summernote/summernote.css" rel="stylesheet">
    <link href="template/vendors/sweet-alert/sweet-alert.min.css" rel="stylesheet">
    <link href="template/vendors/material-icons/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="template/vendors/socicon/socicon.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="template/css/app.min.1.css" rel="stylesheet">
    <link href="template/css/app.min.2.css" rel="stylesheet">
</head>

<body class="login-content" ng-controller="LoginController">
    <!-- Login -->


        <div class="lc-block toggled" id="l-login">
            <form name="form" role="form" >
                <h1 style="font-size:40px;" class="text-uppercase text-info">PATCH CONTROL</h1><br /><br />
                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-person"></i></span>
                    <div class="fg-line">
                        <input type="text" class="form-control" id="username" ng-model="username" placeholder="Username" required>
                    </div>
                </div>

                <div class="input-group m-b-20">
                    <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                    <div class="fg-line">
                        <input type="password" class="form-control" id="password" ng-model="password" placeholder="Password" required>
                    </div>
                </div>

                <!--<div class="clearfix"></div>-->
                <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                Keep me signed in
            </label>
        </div>-->

                <button style="width:100px; height:35px;" type="submit" ng-click="submit(username,password)" ng-disabled="form.$invalid" class="btn btn-success">Login</button>
                <!--<button type="submit" ng-click="submit(username,password)" ng-disabled="form.$invalid" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></button>-->
                <!--<a href="" ng-click="submit(username,password)" ng-disabled="form.$invalid" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></a>-->
    </form>
</div>


    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">IE SUCKS!</h1>
            <p>You are using an outdated version of Internet Explorer, upgrade to any of the following web browser <br/>in order to access the maximum functionality of this website. </p>
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="img/browsers/chrome.png" alt="">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="img/browsers/firefox.png" alt="">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="img/browsers/opera.png" alt="">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="img/browsers/safari.png" alt="">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="img/browsers/ie.png" alt="">
                        <div>IE (New)</div>
                    </a>
                </li>
            </ul>
            <p>Upgrade your browser for a Safer and Faster web experience. <br/>Thank you for your patience...</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    <script src="template/js/jquery-2.1.1.min.js"></script>
    <script src="template/js/bootstrap.min.js"></script>
    <script src="template/vendors/moment/moment.min.js"></script>
    <script src="template/vendors/nicescroll/jquery.nicescroll.min.js"></script>

    <script src="template/vendors/flot/jquery.flot.min.js"></script>
    <script src="template/vendors/flot/jquery.flot.resize.min.js"></script>
    <script src="template/vendors/flot/plugins/curvedLines.js"></script>
    <script src="template/vendors/sparklines/jquery.sparkline.min.js"></script>
    <script src="template/vendors/easypiechart/jquery.easypiechart.min.js"></script>

    <script src="template/vendors/fullcalendar/lib/moment.min.js"></script>
    <script src="template/vendors/fullcalendar/fullcalendar.min.js"></script>
    <script src="template/vendors/simpleWeather/jquery.simpleWeather.min.js"></script>
    <script src="template/vendors/auto-size/jquery.autosize.min.js"></script>
    <script src="template/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="template/vendors/chosen/chosen.jquery.min.js"></script>
    <script src="template/vendors/input-mask/input-mask.min.js"></script>
    <script src="template/vendors/summernote/summernote.min.js"></script>
    <script src="template/vendors/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="template/vendors/fileinput/fileinput.min.js"></script>
    <script src="template/vendors/waves/waves.min.js"></script>
    <script src="template/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="template/vendors/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="template/vendors/sweet-alert/sweet-alert.min.js"></script>
    <script src="template/vendors/moment/moment.min.js"></script>

    <script src="template/js/flot-charts/curved-line-chart.js"></script>
    <script src="template/js/flot-charts/line-chart.js"></script>
    <script src="template/js/charts.js"></script>

    <script src="template/js/charts.js"></script>
    <script src="template/js/functions.js"></script>
    <script src="template/js/demo.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="js/angular-summernote.js"></script>
    <script src="js/angular-summernote.js"></script>
    <script src="js/ng-file-upload.js"></script>
    <script src="js/angular-file-upload.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-dropzone.js"></script>
    <script src="js/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>
    <script src="js/ui-bootstrap-custom-tpls-0.13.4.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angularJS/app.js"></script>
    <script src="js/angularJS/appOfPatch.js"></script>

</body>
</html>